body {
    background: #eee;
}

#content {
    width: 400px;
    background: #fff;
    padding: 20px;
    padding-top: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #444;
    margin: 0 auto; 
    max-height: 148px;
    overflow: hidden;
    transition: max-height 0.7s;
}

#show-more {
    background: rgb(36, 82, 167);
    color: #fff;
    display: block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    width: 140px;
    font-size: 18px;
    text-align: center;
    margin: 20px auto; 
    cursor: pointer;
}

/* you'll need to define a new class that changes the max-height property when the user clicks the expand button */
